body {
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background: rgb(17, 181, 146);
  background: linear-gradient(
    180deg,
    rgba(17, 181, 146, 1) 0%,
    rgba(17, 181, 146, 1) 15%,
    rgb(215, 215, 215) 15%,
    rgb(215, 215, 215) 100%
  );
}

#app {
  display: flex;
  flex: 1;
  height: 95vh;
}

.contacts-list {
  background-color: #f0f0f0;
  width: 450px;
  overflow-y: auto;
}

.contacts-list > div {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.contacts-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contacts-list span {
  font-weight: bold;
}

.contacts-list > div.active {
  background-color: #e0e0e0;
}

.chat {
  flex: 1;
  padding: 20px;
  background-image: url(mine.jpg);
  overflow-y: auto;
}

.contacts-list-container {
  z-index: 100;
  background-color: #f0f0f0;
}

.contact-container {
  position: relative;
  top: 12rem;
  z-index: 10;
}

.input-lente {
  font-size: 0.8rem;
}

.container-notifiche {
  background-color: rgb(158, 232, 255);
}

.notifiche-top {
  font-size: 1rem;
}

.notifiche-bottom {
  font-size: 0.8rem;
  color: #888;
  text-decoration: underline;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  margin-bottom: 3rem;
}

.messages > div {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.messages > div.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.messages > div.received {
  background-color: #fff;
  align-self: flex-start;
}

.empty-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #888;
}

.message-input {
  width: 800px;
  position: absolute;
  bottom: 35px;
}

.message-input input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Barra orizzontale con immagine del contatto selezionato */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}
